
@model List<SyndicateIT.Model.ViewModel.FileManagement.ListFileViewModel>
@Styles.Render("~/Content/Css/File")
<div class="row">
    <div class="col-lg-3">
        <div class="hpanel hgreen contact-panel">
            <div class="panel-body">
                <span class="label label-info pull-right">Success</span>
                <img alt="logo" class="img-circle m-b" src="~/Content/image/profile.jpg">
                <h3><a href=""> Rami Sukkar </a></h3>
                <div class="text-muted font-bold m-b-xs">Seventh Grade, Division A</div>               
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong> Peronal Detail</strong></div> </div>
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong onclick="EditFiles();">File Detail</strong></div> </div>                 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel hyellow contact-panel">
            <div class="panel-body">
                <span class="label label-warning pull-right">fair</span>
                <img alt="logo" class="img-circle m-b" src="~/Content/image/profile.jpg">
                <h3><a href=""> dani kam </a></h3>
                <div class="text-muted font-bold m-b-xs">Seventh Grade, Division A</div>
                
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong> Peronal Detail</strong></div> </div>
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong onclick="EditFiles();">File Detail</strong></div> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel hviolet contact-panel">
            <div class="panel-body">
                <span class="label label-info pull-right">Success</span>
                <img alt="logo" class="img-circle m-b" src="~/Content/image/profile.jpg">
                <h3><a href=""> sami jamil </a></h3>
                <div class="text-muted font-bold m-b-xs">Seventh Grade, Division A</div>
               
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong> Peronal Detail</strong></div> </div>
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong onclick="EditFiles();">File Detail</strong></div> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel hblue contact-panel">
            <div class="panel-body">
                <span class="label label-danger pull-right">Deposit</span>
                <img alt="logo" class="img-circle m-b" src="~/Content/image/profile.jpg">
                <h3><a href=""> kamil hanna </a></h3>
                <div class="text-muted font-bold m-b-xs">Seventh Grade, Division A</div>
               
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong> Peronal Detail</strong></div> </div>
                    <div class="col-md-6 border-right"> <div class="contact-stat"><span>View: </span> <strong onclick="EditFiles();">File Detail</strong></div> </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




































