<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=localhost\sqlexpress;  initial catalog=TestSyndicateIT;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SyndicatDataEntities" connectionString="metadata=res://*/DataContext.SyndicatDataModel.csdl|res://*/DataContext.SyndicatDataModel.ssdl|res://*/DataContext.SyndicatDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=TestSyndicateIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>