
.card-description {
    color: #999999;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card .card-height-indicator {
    margin-top: 100%;
}

.card.row-space .header {
    padding: 15px 20px 0;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .category:not([class*="text-"]) {
    color: #999999;
}

.card .card-content {
    padding: 15px 20px;
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.card .card-header .title {
    color: #FFFFFF;
}

.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}

.card .card-header.card-chart+.content h4 {
    margin-top: 0;
}

.card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header .ct-series-a .ct-point,
.card .card-header .ct-series-a .ct-line,
.card .card-header .ct-series-a .ct-bar,
.card .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header .ct-series-a .ct-slice-pie,
.card .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.card .card-footer .content {
    display: block;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-footer .author {
    color: #999999;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card .card-footer h6 {
    color: #999999;
}

.card img {
    width: 100%;
    height: auto;
}

.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #3C4858;
    text-decoration: none;
}

.card .author a .ripple-container {
    display: none;
}

.card .table {
    margin-bottom: 0;
}

.card .table tr:first-child td {
    border-top: none;
}

.card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color] a {
    color: #FFFFFF;
}

.card-stats .title {
    margin: 10px 10px 10px 10px;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-nav-tabs .header-raised {
    margin-top: -30px;
}

.card-nav-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}

.card-nav-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}

.card-plain .card-image img {
    border-radius: 3px;
}

.card-profile,
.card-testimonial {
    margin-top: 30px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.content,
.card-testimonial .card-avatar+.content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.profile-block {
    float: left;
    background-color: #C8E0E6;
    width: 240px;
    height: 240px;
    position: relative;
    margin-right: 10px;
}

.page-block {
    margin: 0px 0px 30px 0px;
    display: table;
    width: 97%;
}

.page-block>.inner {
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

profile-block .details {
    clear: both;
    padding: 12px 18px;
}

profile-block .details .thumb {
    text-align: center;
    margin-bottom: 10px;
}

.profile-block .details .thumb img {
    min-height: 60px;
    /*border: 1px solid #fff;*/
}

.profile-block .details label {
    display: block;
    color: #c10000;
    font-size: 18px;
}


.profile-block .details span {
    display: block;
    color: #333;
    font-size: 13px;
    margin-top: 3px;
}

.profile-block .details span em {
    color: #000;
    font-style: normal;
}

.profile-block .percentage {
    clear: both;
    background-color: #ddecf0;
    line-height: 27px;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding: 0px 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-block .percentage>label {
    float: left;
    margin-left: 3px;
    margin-top: 8px;
    color: #333;
    line-height: 20px;
    display: inline-block;
}

.profile-block .percentage>span {
    float: right;
    font-size: 26px;
    margin-right: 3px;
}

.profile-block .percentage>span>span {
    font-size: 20px;
}



.profile-block .percentage .percentage-bar div {
    display: block;
    height: 4px;
    background-color: #5AA3B2;
}

.profile-block .details {
    clear: both;
    padding: 12px 12px;
}

.profile-block .percentage .percentage-bar {
    display: block;
    height: 4px;
    background-color: #fff;
    clear: both;
    position: relative;
    margin-bottom: 4px;
}

.total-spend-block {
    float: left;
    width: 100%;
    height: 240px;
    position: relative;
    margin-right: 10px;
}

.total-spend-block .total {
    background-color: #5aa3b2;
    height: 70px;
    color: #fff;  
    padding: 0px 18px;
    margin-bottom: 14px;
}

.total-spend-block .total label {
    display: block;
    font-size: 21px;
    padding-top: 12px;
}

.total-spend-block .total>span {
    display: block;
    font-size: 25px;
    margin-top: 3px;
}

.total-spend-block .total span>span {
    font-size: 18px;
}

.total-spend-block .pending {
    background-color: #fff;
    height: 70px;
    color: #333;
    padding: 0px 18px;
}

.total-spend-block .pending label {
    display: block;
    font-size: 16px;
    padding-top: 15px;
}

.total-spend-block .pending>span {
    display: block;
    font-size: 20px;
    margin-top: 3px;
}

.travel-purpose-block .row.entitlement {
    border-color: #ffcc33;
}

.travel-purpose-block .row {
    height: 49px;
    background-color: #e7e7e8;
    line-height: 18px;
    color: #333;
    padding-right: 15px;
    margin-bottom: 9px;
    border-left: 9px solid #e5e5e5;
}

.travel-purpose-block .row>label {
    display: block;
    float: left;
    color: #000;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 15px;
}

.travel-purpose-block .row>span {
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

.travel-purpose-block .row>span>span {
    font-size: 15px;
}

.travel-purpose-block .row>strong {
    display: block;
    float: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    clear: both;
    margin-left: 10px;
}

.travel-purpose-block .row.training {
    border-color: #ef6383;
}

.travel-purpose-block .row>label {
    display: block;
    float: left;
    color: #000;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 15px;
}

.travel-purpose-block .row>span {
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

.travel-purpose-block .row>span>span {
    font-size: 15px;
}

.travel-purpose-block .row>strong {
    display: block;
    float: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    clear: both;
    margin-left: 10px;
}

.travel-purpose-block .row.meetings {
    border-color: #96cb7c;
}

.travel-purpose-block .row {
    height: 49px;
    background-color: #e7e7e8;
    line-height: 18px;
    color: #333;
    padding-right: 15px;
    margin-bottom: 9px;
    border-left: 9px solid #e5e5e5;
}

.travel-purpose-block .row>label {
    display: block;
    float: left;
    color: #000;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 15px;
}

.travel-purpose-block .row>span {
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

.travel-purpose-block .row>span>span {
    font-size: 15px;
}

.travel-purpose-block .row>strong {
    display: block;
    float: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    clear: both;
    margin-left: 10px;
}

.travel-purpose-block .row.tech-support {
    border-color: #88b8e8;
}
.travel-purpose-block .row {
    height: 53px;
    background-color: #e7e7e8;
    line-height: 18px;
    color: #333;
    padding-right: 15px;
    margin-bottom: 9px;
    border-left: 9px solid #e5e5e5;
}

.travel-purpose-block .row>label {
    display: block;
    float: left;
    color: #000;
    margin-top: 8px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 15px;
}

.travel-purpose-block .row>span {
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

.travel-purpose-block .row>span>span {
    font-size: 15px;
}

.travel-purpose-block .row>strong {
    display: block;
    float: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    clear: both;
    margin-left: 10px;
}

.top-cols.wide {
    float: left;
    width: 100%;
    margin-right: 0px;
    clear: both;
}

.top-cols {

    margin: 0px 25px 30px 0px;
}

.top-cols.top-cars ul.top-cars-details li.red-bg {
    background-color: #e11743;
}

.top-cols.top-cars ul.top-cars-details li.blue-bg {
    background-color: #02a4db;
}

.top-cols.top-cars ul.top-cars-details li.pistache-bg {
    background-color: #bbca26;
}

.top-cols.top-cars ul.top-cars-details li.pink-bg {
    background-color: #eb3f65;
}


.top-cols.top-cars ul.top-cars-details li.orange-bg {
    background-color: #ff6666;
}


.top-cols.top-cars ul.top-cars-details {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

top-cols.top-cars ul.top-cars-details li.red-bg {
    background-color: #e11743;
}

.top-cols.top-cars ul.top-cars-details li {
    padding: 0px;
    margin: 0px;
    width: 17%;
    height: 176px;
    float: left;
    margin: 0px 30px 10px 0px;
    background-color: #ccc;
    color: #fff;
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius: 60px 0px 60px 0px;
    -o-border-radius: 60px 0px 60px 0px;
    border-radius: 60px 0px 60px 0px;
}



.top-cols.top-cars ul.top-cars-details li>span {
    font-size: 65px;
    font-weight: bold;
    display: block;
    line-height: 30px;
    padding: 24px 10px 10px 20px;
}


ul.top-cars-details li>span>span {
    font-size: 38px;
    font-weight: normal;
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: -8px;
}

.top-cols.top-cars ul.top-cars-details li>label {
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 17px;
    padding: 46px 10px 46px 20px;
}

.top-cols.top-cars ul.top-cars-details li>strong {
    font-size: 25px;
    font-weight: bold;
    display: block;
    line-height: 17px;
    padding: 5px 10px 7px 20px;
}

.top-cols.top-cars ul.top-cars-details li>strong>strong {
    font-size: 18px;
}

.top-cols.top-cars ul.top-cars-details li>em {
    font-size: 12px;
    font-weight: normal;
    display: block;
    line-height: 17px;
    padding: 0px 10px 2px 20px;
    font-style: normal;
    color: #000;
}

ul.top-cars-details li>b {
    font-size: 13px;
    font-weight: bold;
    display: block;
    line-height: 17px;
    padding: 0px 40px 5px 20px;
    font-style: normal;
    color: #000;
    text-align: right;
}
